.Site-content {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}

.lista-conversatii {
    flex: 1;
    order: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    border-color: #000000;
}

.conversatie {
    height: 70vh;
    width : 70vw;
    margin-left: 20px;
    flex: 7;
    order: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.profesor {
    color: #000000;
    margin-bottom: 5px;
}

.input-box {
    width: 100%;
    max-height: 40px;
    flex-grow: 1;
    order : 2;
    align-self: flex-end;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
}

#submit-button {
    min-width: 80px;
    margin-left: 1vw;
    height: 70%;
    align-self: center;
    text-align: center;
    color: #000000;
}

.continut {
    align-self : flex-start;
    order : 1;
    width: 100%;
    height: 100%;
    flex-grow: 10;
    
}

