.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
    margin: 0;
}

.Site-content {
    flex: 1;
}

header img {
    height: 50px;
}

header h1 {
    display: inline-block;
    top: 0;
    margin: 0;
    vertical-align: top;
    padding: 10px;
    color: #FAD02C;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    background-color: #333652;
    border-style: solid;
    border-width: 0px;
    /* Standard syntax (must be last) */
    position: sticky;
    top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    z-index: 2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.topnav a {
    float: left;
    display: block;
    color: #FAD02C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:first-child {
    border-bottom-left-radius: 8px;
}

.topnav a:hover {
    background-color: #f2f2f280;
    color: black;
    border-bottom: 3px solid white;
}

.active {
    background-color: #f2f2f266;
    color: white;
}

.topnav .icon {
    display: none;
}

footer {
    color: #FAD02C;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.menu-items {
    float: right;
    padding: 20px;
}

.menu-items a, button {
    color: inherit;
    text-decoration: none;
    padding: 5px;
    color: #FAD02C;
}

/* body style */

body {
    background-color: #333652;
}

main {
    background-color: white;
    margin: 5px;
    border-radius: 8px;
    padding: 15px;
}

body>header {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.input {
    margin-top: 20px;
    border-radius: 7px;
    border: 0px solid #000;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 6px;
    box-shadow: 0 0 3px -1px #000;
}

.submit {
    border: none;
    color: #000;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 33px;
    border-radius: 9px;
    background-color: #eee;
    box-shadow: 0 0 4px -2px #555;
    margin-left: 10px;
}

/* CSS Notification dropdown */

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content ul {
    padding: 0px;
    margin: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333652;
    width: 15em;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    left: unset;
    right: 0;
}

.dropdown-content li {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: left;
    border-bottom: 1px solid white;
}

.dropdown-content li:first-child {
    border-top: 1px solid white;
}

.dropdown>#myDropdown li:hover {
    background-color: #33365266;
}

.show {
    display: block;
}

/* End CSS notification */

input[type="submit"],
.button {
    background-color: #E9EAEC;
    color: #333652;
    border: 2px solid #333652;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type="submit"],
.button:hover {
    background-color: #90ADC6;
    color: #333652;
}
.menu-items a i, .menu-items button i
{
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav a:first-child {
        border-bottom-left-radius: 0px;
    }
    header h1 {
        visibility: hidden;
        position: absolute;
    }
    header h1::after {
        content: 'AcaTisM';
        visibility: visible;
        display: block;
        position: absolute;
        top: 0.8em;
        font-size: 25px;
    }
    .menu-items a i, .menu-items button i
    {
        margin-left: 0px;
    }
}

@media screen and (max-width: 820px) {
    .menu-items span {
        display: none;
    }
    .topnav.responsive {
        position: sticky;
        top: 0px;
        width: 100%;
    }
    .topnav.responsive .icon {
        position: sticky;
        top: 0px;
        width: 100%;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}