body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'EB Garamond', serif;
}

* {
	font-family: inherit;
}

header {
	display: flex;
	height: 6vh;
	width: 100%;
	margin: 0;
	background-color: #1EA896;
	font-size: calc(10px + 0.5vh);
}

header h1 {
	padding-left: 20%;
	margin: 0;
	font-size: calc(5px + 1.5vh + 0.5vw);
	width: 100%;
}

.mobile-show {
	margin-left: 5%;
	width: 10%;
}

.mobile-show:hover {
	filter: invert(100%);
	cursor: grab;
}

.mobile-show:hover {
	cursor: grabbing;
}

.top-button {
	display: none;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #3DD6D0;
	min-height: 94vh;
	height: 94%
}

.sidebar {
	width: 30vw;
	height: 10vh;
	min-height: 94vh;
	top: 0;
	position: -webkit-sticky;
	position: sticky;
	text-align: center;
	background-color: inherit;
	font-size: calc(1vw + 1vh);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.sidebar h1 {
	font-size: calc(1.5vw + 1vh);
	margin-bottom: 20%;
}

.nume-tabela {
	display: flex;
	height: 80%;
	flex-direction: column;
	text-align: center;
}

.side-button {
	height: 10%;
	border: 1px solid black;
	background-color: #3DD6D0;
	transition-duration: 0.4s;
	text-align: center;
	font-size: calc(5px + 0.5vw + 0.5vh);
	white-space: normal;
}

.side-button:hover {
	background-color: #CF5C36;
	cursor: grab;
}

.side-button:active {
	cursor: grabbing;
}

.main {
	background-color: #EEE5E9;
	width: 90%;
}

.butoane {
	display: flex;
	flex-direction: row;
	margin-top: 0;
	top: 0;
	position: sticky;
}

.button {
	background-color: #71F79F;
	border: 2px solid black;
	font-size: calc(10px + 0.5vh + 0.5vw);
	height: 10%;
	width: 25%;
	transition-duration: 0.4s;

}


#delete-button, #edit-button {
	cursor: not-allowed;
}

.button:hover {
	border-radius: 0;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: red;
	cursor: grab;
}


.button:active {
  	transform: translateY(0.5em);
  	cursor: grabbing;
}


table {
	table-layout: fixed;
  	width: 100%;
  	border-collapse: collapse;
  	text-align: center;
  	font-size: calc(10px + 1vh);
}

thead tr {
	display: none;
}

tbody {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

tr {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

tbody tr:nth-of-type(odd) {
	background-color: #22AAC2;
}

tr td {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.autoscroll {
	height: 100%;
	overflow: auto;
}

tr td:first-child {
	justify-content: center;
}

tr td:before {
	content: attr(data-label);
	text-align: center;
	font-weight: bold;
	margin-right: 10px;


}
tr td:last-child {
	border-bottom: 3px solid black;
}

/* https://codepen.io/peiche/pen/vhqym - pop-up */

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0,0,0,0.5);
	transition: opacity 200ms;
  	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
    opacity: 1;
}

.popup {
	margin-left: 8%;
	margin-top: 10vh;
	padding: 10px;
	background: #fff;
	width: 80%;
	max-width: 250px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: absolute;
	text-align: center;  
}

.content {
	font-size: 18px;
}

.content > .button {
	width: 100px;
	margin-right: 10px;
}

.text-box {
	margin: 0;
	border: 0px;
	text-align: center;
	width: 60px;
}

.celula {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 5px;
}