body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'EB Garamond', serif;
}

* {
	font-family: inherit;
}

header {
	display: flex;
	height: 6vh;
	margin: 0;
	background-color: #1EA896;
	
}

header h1 {
	padding-left: 30%;
	margin: 0;
	width: 100%;
	font-size: calc(10px + 1.5vh + 0.5vw);
}

.mobile-show {
	display: none;
}

.top-button {
	height: 100%;
	width: 10%;
	background-color: #1EA896;
	font-size: calc(10px + 1vh);
	border: 0;
	text-align: center;
	transition-duration: 0.4s;
}

.top-button:hover {
	background-color: #024555;
	cursor: grab;
	color: white;
}

.top-button:active {
	cursor: grabbing;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: lightblue;
	height: 94vh;
}

.sidebar {
	width: 15%;
	height: 100%;
	top: 0;
	position: -webkit-sticky;
	position: sticky;
	text-align: center;
	background-color: #3DD6D0;
	font-size: calc(1vw + 1vh);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.sidebar h1 {
	font-size: calc(1.5vw + 1vh);
	margin-bottom: 20%;
}

.nume-tabela {
	display: flex;
	height: 80%;
	flex-direction: column;
	text-align: center;
}

.side-button {
	height: 10%;
	border: 1px solid black;
	border-top: 0;
	background-color: #3DD6D0;
	transition-duration: 0.4s;
	text-align: center;
	font-size: calc(5px + 0.5vw + 0.5vh);
	white-space: normal;
}

.side-button:first-child {
	border: 1px solid black;
}

.side-button:hover {
	background-color: #CF5C36;
	cursor: grab;
}

.side-button:active {
	cursor: grabbing;
}

.main {
	background-color: #EEE5E9;
	padding: 1%;
	width: 90%;
}

.butoane {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	margin-bottom: 3%;
}

.button {
	background-color: #71F79F;
	border: 2px solid black;
	margin-right: 2em;
	font-size: calc(10px + 0.5vh + 0.5vw);
	height: 4%;
	width: 9%;
	border-radius: 12em;
	transition-duration: 0.4s;

}


#delete-button, #edit-button {
	cursor: not-allowed;
}

.button:hover {
	border-radius: 0;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: red;
	cursor: grab;
}


.button:active {
  	transform: translateY(0.5em);
  	cursor: grabbing;
}


table {
	table-layout: fixed;
  	width: 100%;
  	border-collapse: collapse;
  	text-align: center;
  	font-size: calc(10px + 1vh);
}

th:nth-of-type(1) {
	width: 10px;
}

th {
	border-bottom: 3px solid black;
}

td {
	height: 20px;
}
.autoscroll {
	height: 100%;
	overflow: auto;
	margin-bottom: 10px;
}


/* https://codepen.io/peiche/pen/vhqym - pop-up */

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0,0,0,0.5);
	transition: opacity 200ms;
  	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
    opacity: 1;
}

.popup {
	margin-left: calc(50vw - 125px);
	margin-top: 10vh;
	padding: 20px;
	background: #fff;
	border: 3px solid #000;
	width: 300px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: absolute;
	text-align: center;  
}

.content {
	font-size: 18px;
}

.content > .button {
	width: 100px;
	margin-right: 10px;
}

.text-box {
	margin: 0;
	border: 0px;
	text-align: center;
	width: 60px;
}

.celula {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
}