body{
    
    margin: 95px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	background-image: url('../../images/backround.jpg');
	background-size: cover;

}

.formstyle {

	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	width: 100%;
}

.login-box{
	border-top: 1px solid transparent;
	min-height: 550px;
	width: 350px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px 0 black;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in{
	font-size: 35px;
	font-family: sans-serif;
	border-bottom: 6px solid #333652;
	margin-bottom: 80px;
	padding: 13px 20px;
}
.textbox{
	width: 75%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #333652;
}

.selecttext{
	width: 75%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #333652;
}

select::-ms-expand {	display: none; }
.selecttext select{
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	width: 85%;
	margin: 0 37px;
	
}



.textbox i{
	width: 15px;
	
}

.textbox input{
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	width: 60%;
	margin: 0 20px;

}




.href-button:hover {
  background: none;
  border: 2px solid #333652;
  color: black;
  border-radius: 4px;
}
.href-button{
	text-decoration: none;
	width: 50%;
	background:#333652 ;
	border: 2px solid #333652;
	color: white;
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	margin: 12px 0;
	border-radius: 4px;
	text-align: center;
}


.trouble{
	text-decoration: none;
	color: black;
	opacity: 0.7;
}
.trouble:hover{
	text-decoration: none;
	opacity: 1;

}

.modal-container{
	position: fixed;
	background-color: white;
	left:50%;
	top:0;
	width: 70%;
	max-width: 400px;
	padding: 20px;
	border-radius: 5px;
	-webkit-transform:translate(-50%,-200%);
	-ms-transform:translate(-50%,-200%);
	transform:translate(-50%,-200%);
	-webkit-transition: -webkit-transform 200ms ease-out;
	transition: transform 200ms ease-out;
	display: flex;
	justify-content: center;
}

.modal-container a{
	font-family: sans-serif;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: -15px;
	background: #333652;
	border-radius: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;

}


.modal:before{
	content: "";
	position :fixed;
	display: none;
	background: rgba(0,0,0,0.8);
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.modal:target .modal-container{
	-webkit-transform:translate(-50%,300%);
	-ms-transform:translate(-50%,300%);
	transform:translate(-50%,300%);
}

.modal:target:before{
	display: block;
}



#modal-close{}

@media screen and (max-width: 415px){
	.login-box{
		
		box-shadow: none;
		min-height: 100%;
	    width: 100%;
	}

}




	








