body{
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	background-image: url('../../images/backround.jpg') ;
	background-size: cover;
}
.formstyle {

	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	width: 100%;
}

.login-box{
	border-top: 1px solid transparent;
	min-height: 550px;
	width: 450px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px 0 black;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selecttext{
	width: 80%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #333652;
}

select::-ms-expand {	display: none; }
.selecttext select{
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	width: 85%;
	margin: 0 37px;
	
}

.sign-in{
	font-size: 35px;
	font-family: sans-serif;
	border-bottom: 6px solid #333652;
	margin-bottom: 30px;
	padding: 13px 20px;
}
.textbox{
	width: 80%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #333652;
}

.textbox i{
	width: 15px;
	
}

.textboxNumePrenume{
	width: 80%;
	display: flex;
	justify-content: space-between;
}



.textbox input{
	border: none;
	outline: none;
	background: none;
	font-size: 15px;
	width: 60%;
	margin: 0 20px;

}


.href-button{
	width: 50%;
	text-decoration: none;
	background: none;
	border: 2px solid #333652;
	color: black;
	padding: 5px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	margin: 12px 0;
	margin-top: 30px;
	border-radius: 2px;

}

.href-button:hover {
  background-color: #333652;
  color: white;
  border-radius: 2px;
}

@media screen and (max-width: 450px){
	.login-box{
		
		box-shadow: none;
		min-height: 100%;
	    width: 100%;
	}

	.textboxNumePrenume{
		flex-direction: column;
		width: 100%;


	}

	.textbox{
		width: 100%;
	}

}




	








