body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
    background-image: url('../../images/backround.jpg') ;
	background-size: cover;
	overflow-y:scroll;

}
.wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header {
    text-align: center;
}

.header h1 {
    font-size: 50px;
}


.navbar{
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	background: #333652;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;


}


.navbar a{
   	align-self: center;
	text-decoration: none;
	padding: 5px 10px;
	color: #DDA301;
}

.open-slide{
	align-self: center;
	margin-right:  10px;
	font-size: 20px;
}


.navbar .navbar-nav{
	display: flex;
	padding: 0px;
	margin-right: 10px;
	column-gap: 10px;
	list-style: none;
	
}

.navbar .logo{
	margin-left: 3%;

}


.navbar a:hover{
	background-color: #DDA301;
	color: #333652;
	border-radius: 2px;
	transition: 0.2s;


}

.side-nav{
	width: 0;
	height: 100%;
	position:fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #333652;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	border-radius: 2px;
	overflow-x:hidden;
	overflow-y: auto;
	transition: 0.5s;
}


.side-nav .button-close{
	float : right;
	text-decoration: none;
	color: #DDA301;
	font-size: 30px;
	margin-top: 20px;
	margin-right: 20px;
	padding: 0 10px ;

}

.side-nav .button-close:hover{
	background-color: #DDA301;
	color: #333652;
	border-radius: 2px;
	transition: 0.2s;

}


.side-nav .side-nav-content{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.side-nav .side-nav-content .sort-elements{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 10%;
	padding-top: 10%;
	padding-left: 25%;
	transition: 0.7s;
}

.side-nav .side-nav-content .sort-elements #sort-title{
	font-size: 25px;
	margin-left: -10%;
}


.side-nav .side-nav-content .sort-elements a{
	text-decoration: none;
	list-style: none;
	color: #DDA301;
	padding: 5px 0;
}


.side-nav .side-nav-content .sort-elements a:hover:not(:first-child){
	color: white;
}


.search-box{
	align-self: center;
	border-radius: 40px;
	padding: 0 0 0 10px;
	height: 30px;
	background: #DDA301;


}

.search-text{
	float: left;
	border:none;
	margin-left: 10px;
	background: none;
	outline: none;
	padding: 0;
	color: #333652;
	font-size: 16px;
	transition: 0.4s;
	line-height: 30px;
	width: 0;
	overflow-x: hidden;

  
}

.search-box:hover > .search-text{
	width: 200px;
	overflow: hidden;
}

.search-box .search-button:hover{
  background: white;
  color: #333652;
  border-radius: 50%;
}

.search-button{
 float:right;
 background : white;
 width: 10px;
 height: 20px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}



#main-content{
	display: flex;
	flex-direction: column;
	margin:20px 10px;
	margin-right: 10px;
	background: rgba(51, 54, 82,0.5);
	transition: 0.5s;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);

}





.project{
	margin:20px 20px;
	border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    background:#333652;
    text-align: justify;
    padding: 10px 10px;
    color: white;
}s

.project h4{
	margin-top: 10px;
}

.project h4 a{
	color: white;
	text-decoration: none;
}

.project h4 .yellow{
	color: white;
}

.project h4 a:hover{
	color: #E9EAEC;
}

footer{
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	background:  #333652;
	width: 100%;
	height: 55px;
	

}

footer h2{
	
	font-size: 15px;
	text-align: center;
	color: #DDA301;	
}

.modal-container{
	position: fixed;
	background-color: white;
	left:50%;
	top:0;
	width: 70%;
	max-width: 400px;
	padding: 20px;
	border-radius: 5px;
	-webkit-transform:translate(-50%,-200%);
	-ms-transform:translate(-50%,-200%);
	transform:translate(-50%,-200%);
	-webkit-transition: -webkit-transform 200ms ease-out;
	transition: transform 200ms ease-out;
	display: flex;
	justify-content: space-around;

}
.modal-container .emails{
	display: flex;
	flex-direction: column;
 	
}
.modal-container .emails a:not(:first-child){
	margin-top: 15px;
}

.modal-container a{
	font-family: sans-serif;
	background: #333652;
	border-radius: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;

}

.modal:before{
	content: "";
	position :fixed;
	display: none;
	background: rgba(0,0,0,0.8);
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.modal:target .modal-container{
	-webkit-transform:translate(-50%,100%);
	-ms-transform:translate(-50%,100%);
	transform:translate(-50%,100%);
}

.modal:target:before{
	display: block;
}



#modal-close{}

::-webkit-scrollbar{
 width: 0px;
}

@media(max-width: 800px){
	.navbar .navbar-nav .search-box {display: none;}

	.navbar .navbar-nav a:not(:last-child) { display: none; }

	.side-nav .side-nav-content .mobile-elements{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 30%;
		padding-left: 17%;
		transition: 0.7s;
	
	}
	.side-nav .side-nav-content .mobile-elements a{
		text-decoration: none;
		width: 100px;
		list-style: none;
		color: #DDA301;
		padding: 5px 0;
		text-align: center;
		font-size: 25px;

    }


    .side-nav .side-nav-content .mobile-elements a:hover{
		background-color: #DDA301;
		color: #333652;
		border-radius: 2px;
		transition: 0.2s;

    }

    .side-nav .side-nav-content .mobile-elements .side-search-box{
    	border-radius: 40px;
		padding: 0 0 0 10px;
		margin-top: -20px;
		width: 100%;
		margin-left: -30px;
		margin-bottom: 20px;
		height: 30px;
		background: #DDA301;
    }

    .side-nav .side-nav-content .mobile-elements .side-search-box .side-search-text{
		border:none;
		margin-left: 10px;
		background: none;
		outline: none;
		padding: 0;
		color: #333652;
		font-size: 15px;
		transition: 0.4s;
		line-height: 30px;
		overflow-x: hidden;
    }
   .side-nav .side-nav-content .mobile-elements .side-search-box .side-search-button{
 		background : white;
 		float :left;
 		width: 30px;
 		font-size: 15px;
 		height: 20px;
	 	border-radius: 50%;
 		display: flex;
	 	justify-content: center;
 		align-items: center;
 		transition: 0.9s;
}
	.side-nav .side-nav-content .mobile-elements .side-search-box .side-search-button:hover{
		background: white;
  		color: #333652;
  		border-radius: 50%;
}
}
	





@media(min-width: 800px){
	.mobile-elements {display: none;}
}


@media(min-width: 800px){
	.mobile-elements {display: none;}
	.open-slide {display: none;}
}


