

.new-proposal{
border-radius: 5px;
width: 200px;
margin-left: 25%;
border: 2px solid black;
cursor: pointer;
padding: 2px 100px 2px 100px;
background-color: aliceblue;
text-align: center;
}

.new-proposal:hover{
background-color: rgb(191, 204, 216);
}

.proposals{
display: flex;
flex-flow: column;
}

.proposal{
background-color: aqua;
width: 30%;
margin-top: 8px;
border: 1px solid black;

text-align: center;
}


.popup{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
background: rgba(0, 0, 0, 0.6);
display: none;
}

.popup-content{
width: 300px;
height: 300px;
margin-top: 10%;
margin-left: 35%;
margin-right: 35%;
position: relative;
border: 4px solid black;
background-color: white;
z-index: 50;
}

.popup:target{
display: block;
}

.close{
position: absolute;
top: 5px;
right: 5px;
border-radius: 2px;
border: 1px solid black;
}

@media screen and (max-width: 600px){
    .new-proposal{
        width: 25%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .proposal{
        width: 70%;
    }

    .popup-content{
        width: 200px;
        height: 300px;
    }
}


