.project{
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    margin-left: 2%;
    margin-right: 3%;
}

.project-title{
    background-color: yellowgreen;
    width: 50%;
    text-align: center;
    font-size: 60px;
    margin-left: 25%;
    margin-right: 25%;

    
}

.project-desc{
    background-color: rgb(248, 248, 207);
    text-align: justify;
    font-size: 35px;
}


.student{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.student-info{
    background-color: red;
    flex: 50%;
    height: 50px;
    font-size: 43px;
    text-align: center;
}



@media screen and (max-width: 1600px){
    .student-info{
        font-size: 28px;
    }
}

@media screen and (max-width: 1200px){
    .student-info{
        font-size: 22px;
        height: 40px;
    }

    .project-title{
        font-size: 40px;
    }

    .project-desc{
        font-size: 20px;
    }
}

@media screen and (max-width: 900px){
    .student-info{
        font-size: 16px;
        height: 28px;
    }

    .project-title{
        height: 40px;
        font-size: 30px;
    }
}

