.project{
    background-color: #6d4ad9;
    border-radius: 25px;
    text-align: center;
    color: white;
    height: 50px;
    font-size: 40px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.project-options{
    display: none;
    position: relative;
    background-color: #FAD02C66;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 8;
    margin-bottom: 50px;
}

.project-options a:hover{
    background-color: aqua;
}

.project-options div:hover{
    background-color: aqua;
}

.project-options a, div{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.project:hover{
    background-color: #FAD02C66;
}

.dropdown{

    width: 40%;
    margin-left: 25%;
    position: relative;
    /*display: inline-block;
    z-index: 6;*/
}
.show {
    display: block;
}



.search-bar{
    position: sticky;
    top: 50px;
    margin-left: 60%;
    width: 40%;
    z-index: 20;
}

.sec-title{
    width: 60%;
    margin-top: -30px;
}

.finished{
    background-color: rgb(131, 216, 131);
}

.not-taken{
    background-color: blue;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

#set-deadline .popup-content{
    width: 300px;
    height: 300px;
    margin: 300px auto;
    position: relative;
    border: 4px solid black;
    background-color: white;
}

#edit-project .popup-content{
    width: 300px;
    height: 300px;
    margin: 100px auto;
    position: relative;
    border: 4px solid black;
    background-color: white;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #222;
    border-radius: 50%;
    border: 2px solid white;
    text-decoration: none;
    line-height: 0;
    padding: 9px 0 11px;
    width: 20px;
    text-align: center;
}

.popup:target{
    display: block;
}

.submit{
    position: absolute;
    bottom: 5px;
    left: 32%;
}




/*.project-title{
    background-color: rgb(188, 169, 209);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    border: 1px solid;
    border-bottom: 0px solid;
    border-color: black;
}

.project-content{
    background-color: rgb(223, 128, 136); 
    text-align: left;
    border: 1px solid;
    border-color: black;
}*/


@media screen and (max-width: 900px){
    .dropdown{
        width: 80%;
        margin-right: 11%;
        margin-left: 9%;
    }

    .sub-header{
        display:flex;
    }

    .search-bar{
        top: 50px;
        margin-left: 40%;
        width: 40%;
        z-index: 20;
    }
}


@media screen and (max-width: 600px){
    .dropdown{
        width: 95%;
        margin-right: 0%;
        margin-left: 0%;
    }

    .search-bar{
        top: 50px;
        margin-left: 2%;
        width: 50%;
        z-index: 20;
    }

    .sec-title{
        width: 24%;
        font-size: 15px;
    }
    
}