.student{
    background-color: rgb(233, 228, 228);
    height: 50px;
    display: flex;
}

.student:hover{
    background-color: rgb(236, 236, 133);
}

.name{
    font-size: 40px;
    flex: 1;
}
.checkbox{
    width: 50px;
    height: 50px;
}

.student:nth-child(2n + 1){
    background-color: rgb(248, 248, 192);
}


.checkbox:hover{
    background-color: rgb(167, 230, 167);
    cursor: pointer;
}

.see-button{
    border: 1px solid rgb(41, 41, 41);
    background: rgb(216, 211, 211);
    cursor: pointer;
    height: 60%;
    margin-top: 10px;
    margin-right: 30%;
    text-align: center;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.see-button:hover{
    background: rgb(245, 241, 241);
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.popup-content{
    width: 300px;
    height: 300px;
    margin: 300px auto;
    position: relative;
    border: 4px solid black;
    background-color: white;
}

.popup:target{
    display: block;
}

.close{
    height: 20px;
    width: 20px;
    position: absolute;
    background: red;
    top: 5px;
    right: 5px;
    text-align: center;
}



@media screen and (max-width: 1100px){
    .name{
        font-size: 28px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 800px){
    .name{
        font-size: 23px;
    }
}

@media screen and (max-width: 800px){
    .see-button{
        margin-right: 18%;
    }
}

@media screen and (max-width: 610px){
    .student{
        height: 28px;
        padding-bottom: 4px;
    }

    .checkbox{
        width: 28px;
        height: 28px;
    }

    .name{
        font-size: 18px;
    }

}

@media screen and (max-width: 580px){
    .see-button{
        margin-right: 8%;
        padding-top: 3px;
    }
}