table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}





@media only screen and (max-width: 760px){
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        margin: 0 0 1rem 0;
    }
  
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 0px;
        width: 100%;
        padding-right: 10px;
        margin-bottom: 10px;
        white-space: nowrap;
    }
    /*
      Label the data
  You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
      */
    td::before
    {
        background-color: #333652;
        border-radius: 8px;
        padding: 8px 3px;
        color: white;
    }
    td:nth-of-type(1):before {
        content: "Project Name";
    
    }
    td:nth-of-type(2):before {
        content: "Project Description";
    }
    td:nth-of-type(3):before {
        content: "Teacher";
    }
    td:nth-of-type(4):before {
        content: "Interest";
    }
    td:nth-of-type(5):before {
        content: "Actions";
    }
    
td {
    width: 100%;
    padding-left: 0;
  }
  table td::before {
    width: 100%;
    position: relative;
    display: block;
  }
}


/*
popup */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 9;
}

.popup {
    margin-left: calc(50vw - 125px);
    margin-top: 10vh;
    padding: 20px;
    background: #fff;
    border: 3px solid #000;
    width: 250px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    position: absolute;
    z-index: 3;
}

.content {
    display: flex;
    flex-wrap: wrap;
}


textarea {
    width: 100%;
    height: 100px;
}