/* Style tab links */

.tablink {
    background-color: #90ADC6;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.333%;
}

.tablink:hover {
    background-color: #FAD02C66;
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Timeline {
    background-color: white;
}

#Update {
    background-color: white;
}

#Changes {
    background-color: white;
}

.project-data {
    border: 1px solid;
    padding: 5px;
    border-radius: 8px;
}

button {
    display: block;
}

.accordion {
    background-color: #90ADC6;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

main>.active,
.accordion:hover {
    background-color: #90ADC655;
}

input {
    margin: 10px 5px;
    display: inline-block;
}

.panel {
    padding: 0px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.dropbtn
{
    background:none;
     color:#FAD02C;
     border:none; 
     padding:0;
     font: inherit;
     /*border is optional*/
     
     cursor: pointer;
}

.verde {
    color: #00FF00;
}

.eroare {
    color: #FF0000;
}

.warning {
    color: #DDDD00;
}