.form-wrapper {
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.project{
	margin:20px 20px;
	border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    text-align: justify;
    padding: 10px 10px;

}

.project h4{
	margin-top: 10px;
}

.project h4 a{
	
    text-decoration: none;
    color: black;
}



.form-row>label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row>input,
.form-row>.custom-input {
    flex: 2;
}

.form-row>input,
.form-row>textarea {
    padding: .5em;
}

@media screen and (min-width: 768px) {
    .form-row>input,
    .form-row>.custom-input {
        flex: 3;
    }
}

@media screen and (min-width: 992px) {
    .form-row>input,
    .form-row>.custom-input {
        flex: 4;
    }
}

@media screen and (min-width: 1200px) {
    .form-row>input,
    .form-row>.custom-input {
        flex: 5;
    }
}

.custom-input {
    padding: 0px;
}

.closebtn:hover {
    color: #000;
}

textarea {
    min-width: 139.67px;
}