.general-info {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.written-info {
	max-width: 50%;
}

#profile-photo {
	display: block;
	width: 20vmax;
	height: 20vmax;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20%;
}

#Proposed-Topics {
    background-color: white;
}

#Update {
    background-color: white;
}

#Changes {
    background-color: white;
}

.topic {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid black;
}

.topic:last-child {
	border-bottom: 0;
}
.lista-tag {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.tag {
	border-radius: 8px;
	background-color: silver;
	padding: 8px;
	margin-right: 5px;
	min-width: 50px;
	text-align: center;
}

.button {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tabcontent li {
	margin-bottom: 10px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0,0,0,0.5);
	transition: opacity 200ms;
  	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
    opacity: 1;
}

.popup {
	margin-left: calc(50vw - 125px);
	margin-top: 10vh;
	padding: 20px;
	background: #fff;
	border: 3px solid #000;
	width: 250px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: absolute;
	z-index: 3;
}

.content {
	display: flex;
	flex-wrap: wrap;
}


textarea {
	width: 100%;
	height: 100px;
}

